PINECONE_API_KEY=ENTER-THE-KEY-HERE
PINECONE_INDEX=mini-jarvis
PINECONE_HOST=https://mini-jarvis-o9slq4p.svc.aped-4627-b74a.pinecone.io
EMBEDDING_MODEL=llama-text-embed-v2
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3
